# Server Port
PORT=5000

# CORS Allowed Origin
CORS_ORIGIN=http://localhost:3000

# Supabase Credentials (For Backend Admin operations)
SUPABASE_URL=https://uejggacwucvicnxxrzcy.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVlamdnYWN3dWN2aWNueHhyemN5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjM1NTI2NSwiZXhwIjoyMTAxOTMxMjY1fQ.GWl9pZyQxAjUHaoA4eg0quFmXLI05-tYf3qFkju268Q
